<%= form_for @pet_service, :html => { :class => "form-horizontal pet_service" } do |f| %>

  <% if @pet_service.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@pet_service.errors.count, "error") %> prohibited this pet_service from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @pet_service.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :duration, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :duration, :class => 'form-control' %>
    </div>
    <%=f.error_span(:duration) %>
  </div>
  <div class="form-group">
    <%= f.label :price, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%=f.error_span(:price) %>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :pataz_value_free, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :pataz_value_free, :class => 'form-control' %>
    </div>
    <%=f.error_span(:pataz_value_free) %>
  </div>
  <div class="form-group">
    <%= f.label :pataz_amount, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :pataz_amount, :class => 'form-control' %>
    </div>
    <%=f.error_span(:pataz_amount) %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :user_id, User.all, :id, :email, prompt: true  %>
    </div>
    <%=f.error_span(:user_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pet_services_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
