<p id="notice"><%= notice %></p>

<p>
  <strong>Stockoperation:</strong>
  <%= @stock.stockoperation %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stock.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @stock.quantity %>
</p>

<p>
  <strong>Operationdate:</strong>
  <%= @stock.operationdate %>
</p>

<p>
  <strong>Product:</strong>
  <%= @stock.product_id %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
