<p id="notice"><%= notice %></p>

<p>
  <strong>Totalvalue:</strong>
  <%= @cart.totalvalue %>
</p>

<p>
  <strong>Order:</strong>
  <%= @cart.order_id %>
</p>

<p>
  <strong>Appointment:</strong>
  <%= @cart.appointment_id %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
