<!DOCTYPE html>
<html>
  <head>
    <title>Doggis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="user_nav">
        <% if user_signed_in? %>
            Logado como <%= current_user.email %>. Não é você?
            <%= link_to "Deslogar", destroy_user_session_path %>
        <% else %>
            <%= link_to "Logar", new_user_registration_path %> or <%= link_to "Log in", new_user_session_path %>
        <% end %>
    </div>
    <%= yield %>
  </body>
</html>
